[data-role="input-date"]{
    box-sizing: border-box;
    user-select: none;
    cursor: text;
    color: var(--OnNormalColor);
    border: var(--OnNormalBorder);
    background-color: var(--OnNormalBackgroundColor);
    filter: var(--OnNormalFilter);
}

[data-role="input-date"][disabled]{
    pointer-events: none;
    color: var(--OnDisableColor);
    border: var(--OnDisableBorder);
    background-color: var(--OnDisableBackgroundColor);
    filter: var(--OnDisableFilter);
}

[data-role="input-date"]:hover{
    color: var(--OnOverColor);
    border: var(--OnOverBorder);
    background-color: var(--OnOverBackgroundColor);
    filter: var(--OnOverFilter);
}

[data-role="input-date"]:focus{
    color: var(--OnFocusColor);
    border: var(--OnFocusBorder);
    background-color: var(--OnFocusBackgroundColor);
    filter: var(--OnFocusFilter);
}