[data-role="link"]{
    box-sizing: border-box;
    user-select: none;
    display: block;
    margin:0;
    color: var(--OnNormalColor);
    background-color: var(--OnNormalBackgroundColor);
    filter: var(--OnNormalFilter);
}

[data-role="link"][disabled]{
    pointer-events: none;
    color: var(--OnDisableColor);
    background-color: var(--OnDisableBackgroundColor);
    filter: var(--OnDisableFilter);
}

[data-role="link"]:hover{
    color: var(--OnOverColor);
    background-color: var(--OnOverBackgroundColor);
    filter: var(--OnOverFilter);
}

[data-role="link"][aria-current="page"]{
    color: var(--OnCurrentColor);
    background-color: var(--OnCurrentBackgroundColor);
    filter: var(--OnCurrentFilter);
}

[data-role="link"][aria-current="page"]:hover{
    color: var(--OnCurrentOverColor);
    background-color: var(--OnCurrentOverBackgroundColor);
    filter: var(--OnCurrentOverFilter);
}