@charset "UTF-8";

html, body{
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Roboto-Regular,sans-serif;
    font-size: 16px;
    line-height: 24px;
}

body[data-process="true"],
body[data-modal="true"]{
    overflow: hidden;
}

[role="application"]{
    width: 100%;
    min-height: 100vh;
}

[role="application"] {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr auto;
    align-items: stretch;
    justify-content: stretch;
    grid-template-areas:
            "navigation navigation"
            "complementary complementary"
            "directory main"
            "contentinfo contentinfo";
}

[role="navigation"] {
    grid-area: navigation;
}

[role="complementary"] {
    grid-area: complementary;
}

[role="directory"] {
    grid-area: directory;
}

[role="main"] {
    grid-area: main;
}

[role="contentinfo"] {
    grid-area: contentinfo;
}

:root {
    --control-transition:
            filter .25s ease-out,
            transform .25s ease-out,
            border .25s ease-out,
            color .25s ease-out,
            stroke .25s ease-out,
            fill .25s ease-out,
            background-color .25s ease-out,
            visibility .25s ease-out;
}

[hidden],
[hidden="true"]{display: none;}