dialog{
    position: fixed;
    z-index: 150;
    visibility: hidden;
    border: none;
    padding: 0;
    margin: auto;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
}

dialog[open]{
    visibility: visible;
}