[data-component="ComboBox"]{
    position: relative;
    width: 100%;
    max-width: 256px;
    user-select: none;
}

[data-component="ComboBox"] > [role="presentation"] > output{
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 32px;

    transition:
            border-color .25s ease,
            color .25s ease,
            background-color .25s ease;

}

[data-component="ComboBox"][aria-expanded="true"] > output,
[data-component="ComboBox"] > output:hover{
    border-color: #08C;
    outline: none;
}

[data-component="ComboBox"] > [role="presentation"]{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

[data-component="ComboBox"] > [role="presentation"] > [role="status"]{
    position: absolute;
    right: 0;
    top:0;
    bottom: 0;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

[data-component="ComboBox"] > [type="button"]{
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    font-size: 12px;
    padding: 0;
    border-radius: 2px;
    color: #FFF;
    background-color: #FFF;
    height: 32px;
    outline: none;
    list-style: none;
    -webkit-appearance:none;
    cursor: pointer;
}

[data-component="ComboBox"] > [type="pe"] > [role="status"]{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    position: absolute;
    right: 0;
    top:0;
    bottom:0;
    stroke: #012;
}

[data-component="ComboBox"] > [role="presentation"] > [role="status"] > [role="img"]{
    display: block;
    width: 16px;
    height: 12px;
    stroke: #012;
    transition: all .25s ease;
}

[data-component="ComboBox"][aria-expanded="true"] > [role="presentation"] > [role="status"] > [role="img"] {
    transform: rotate(180deg);
    stroke: #05F;
}

[data-component="ComboBox"] [data-component="ComboBoxGroup"]{
    display: grid;
    grid-template-columns:  1fr ;
    grid-template-rows: auto;
    gap: 4px;
    position: absolute;
    top:32px;
    right: 0;
    left: 0;
    max-width: 100%;
    background-color: #FFF;
    z-index: 10;
    border-left:1px solid rgba(0,0,0,.25);
    border-right:1px solid rgba(0,0,0,.25);
    border-bottom:1px solid rgba(0,0,0,.25);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    overflow: hidden;
}

[data-component="ComboBox"] [data-component="ComboBoxGroup"] {
    display: none;
    visibility: hidden;
}

[data-component="ComboBox"][aria-expanded="true"] [data-component="ComboBoxGroup"] {
    display: block;
    visibility: visible;
}

[data-component="ComboBox"] [data-component="ComboBoxGroup"] button{
    width: 100%;
    padding: 8px 12px;
    border:none;
    text-align: left;
    font-size: 12px;
    color:#012;
    background-color: #F5F5F5;
    transition:
            color .25s ease,
            background-color .25s ease;
    cursor: pointer;
}
[data-component="ComboBox"] [data-component="ComboBoxGroup"] button:hover{
    color:#05F;
    background-color: #DEF;
}