[data-role="password-fieldset"]{
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
}

[data-role="input-password"]{
    box-sizing: border-box;
    color: var(--OnNormalColor);
    border: var(--OnNormalBorder);
    background-color: var(--OnNormalBackgroundColor);
    filter: var(--OnNormalFilter);
}

[data-role="input-password"][disabled]{
    pointer-events: none;
    color: var(--OnDisableColor);
    border: var(--OnDisableBorder);
    background-color: var(--OnDisableBackgroundColor);
    filter: var(--OnDisableFilter);
}

[data-role="input-password"]:hover{
    color: var(--OnOverColor);
    border: var(--OnOverBorder);
    background-color: var(--OnOverBackgroundColor);
    filter: var(--OnOverFilter);
}

[data-role="input-password"]:focus{
    color: var(--OnFocusColor);
    border: var(--OnFocusBorder);
    background-color: var(--OnFocusBackgroundColor);
    filter: var(--OnFocusFilter);
}

[data-role="input-image-password"]{
    box-sizing: border-box;
    user-select: none;
    background-color: var(--OnNormalBackgroundColor);
    filter: var(--OnNormalFilter);
}

[data-role="input-image-password"][disabled]{
    pointer-events: none;
    background-color: var(--OnDisableBackgroundColor);
    filter: var(--OnDisableFilter);
}

[data-role="input-image-password"]:hover{
    background-color: var(--OnOverBackgroundColor);
    filter: var(--OnOverFilter);
}