[data-role="input-image"]{
    box-sizing: border-box;
    user-select: none;
    background-color: var(--OnNormalBackgroundColor);
    filter: var(--OnNormalFilter);
}

[data-role="input-image"][disabled]{
    pointer-events: none;
    background-color: var(--OnDisableBackgroundColor);
    filter: var(--OnDisableFilter);
}

[data-role="input-image"]:hover{
    background-color: var(--OnOverBackgroundColor);
    filter: var(--OnOverFilter);
}