[data-role="details"]{
    box-sizing: border-box;
    user-select: none;
    color: var(--OnNormalColor);
    border: var(--OnNormalBorder);
    border-color: var(--OnNormalBorderColor);
    background-color: var(--OnNormalBackgroundColor);
    filter: var(--OnNormalFilter);
}

[data-role="details"]:hover{
    color: var(--OnOverColor);
    border: var(--OnOverBorder);
    border-color: var(--OnOverBorderColor);
    background-color: var(--OnOverBackgroundColor);
    filter: var(--OnOverFilter);
}

[data-role="details"][open]{
    color: var(--OnOpenColor);
    border: var(--OnOpenBorder);
    border-color: var(--OnOpenBorderColor);
    background-color: var(--OnOpenBackgroundColor);
    filter: var(--OnOpenFilter);
}

[data-role="details"][open]:hover{
    color: var(--OnOpenOverColor);
    border: var(--OnOpenOverBorder);
    border-color: var(--OnOpenOverBorderColor);
    background-color: var(--OnOpenOverBackgroundColor);
    filter: var(--OnOpenOverFilter);
}