[data-role="link"]{
    box-sizing: border-box;
    user-select: none;
    display: block;
    margin:0;
    text-decoration: none;
    color: var(--OnNormalColor);
    border: var(--OnNormalBorder);
    border-color: var(--OnNormalBorderColor);
    background-color: var(--OnNormalBackgroundColor);
    filter: var(--OnNormalFilter);
}

[data-role="link"]:hover{
    color: var(--OnOverColor);
    background-color: var(--OnOverBackgroundColor);
    border: var(--OnOverBorder);
    border-color: var(--OnOverBorderColor);
    filter: var(--OnOverFilter);
}

[data-role="link"][aria-current="page"]{
    color: var(--OnCurrentColor);
    background-color: var(--OnCurrentBackgroundColor);
    border: var(--OnCurrentBorder);
    border-color: var(--OnCurrentBorderColor);
    filter: var(--OnCurrentFilter);
}

[data-role="link"][aria-current="page"]:hover{
    color: var(--OnCurrentOverColor);
    background-color: var(--OnCurrentOverBackgroundColor);
    border: var(--OnCurrentOverBorder);
    border-color: var(--OnCurrentOverBorderColor);
    filter: var(--OnCurrentOverFilter);
}