[data-role="menu-group"]{
    box-sizing: border-box;
    user-select: none;
    color: var(--OnNormalColor);
    border: var(--OnNormalBorder);
    border-color: var(--OnNormalBorderColor);
    background-color: var(--OnNormalBackgroundColor);
    filter: var(--OnNormalFilter);
}

[data-role="menu-group"]:hover{
    color: var(--OnOverColor);
    border: var(--OnOverBorder);
    border-color: var(--OnOverBorderColor);
    background-color: var(--OnOverBackgroundColor);
    filter: var(--OnOverFilter);
}