[data-role="input-text"]{
    box-sizing: border-box;
    color: var(--OnNormalColor);
    border: var(--OnNormalBorder);
    background-color: var(--OnNormalBackgroundColor);
    filter: var(--OnNormalFilter);
}

[data-role="input-text"][disabled]{
    pointer-events: none;
    color: var(--OnDisableColor);
    border: var(--OnDisableBorder);
    background-color: var(--OnDisableBackgroundColor);
    filter: var(--OnDisableFilter);
}

[data-role="input-text"]:hover{
    color: var(--OnOverColor);
    border: var(--OnOverBorder);
    background-color: var(--OnOverBackgroundColor);
    filter: var(--OnOverFilter);
}

[data-role="input-text"]:focus{
    color: var(--OnFocusColor);
    border: var(--OnFocusBorder);
    background-color: var(--OnFocusBackgroundColor);
    filter: var(--OnFocusFilter);
}