[data-role="modal"]{
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;

    z-index: 100;
    border: none;
    padding: 0;
    margin: auto;

    width: 100%;
    height: 100vh;

    display: flex;
    background-color: rgba(0, 0, 0, .75);
    overflow: hidden;
}

[data-role="modal"][open]{
    visibility: hidden;
}

[data-role="modal"][open]{
    visibility: visible;
}