[data-role="menu-toggle"]{
    box-sizing: border-box;
    user-select: none;
    color: var(--OnNormalColor);
    border: var(--OnNormalBorder);
    border-color: var(--OnNormalBorderColor);
    background-color: var(--OnNormalBackgroundColor);
    filter: var(--OnNormalFilter);
}

[data-role="menu-toggle"]:hover{
    color: var(--OnOverColor);
    border: var(--OnOverBorder);
    border-color: var(--OnOverBorderColor);
    background-color: var(--OnOverBackgroundColor);
    filter: var(--OnOverFilter);
}


[data-role="menu-toggle"][aria-pressed="true"]{
    color: var(--OnPressColor);
    border: var(--OnPressBorder);
    border-color: var(--OnPressBorderColor);
    background-color: var(--OnPressBackgroundColor);
    filter: var(--OnPressFilter);
}

[data-role="menu-toggle"][aria-pressed="true"]:hover{
    color: var(--OnPressOverColor);
    border: var(--OnPressOverBorder);
    border-color: var(--OnPressOverBorderColor);
    background-color: var(--OnPressOverBackgroundColor);
    filter: var(--OnPressOverFilter);
}