[data-role="button"]{
    box-sizing: border-box;
    user-select: none;
    color: var(--OnNormalColor);
    border: var(--OnNormalBorder);
    border-color: var(--OnNormalBorderColor);
    background-color: var(--OnNormalBackgroundColor);
    filter: var(--OnNormalFilter);
}

[data-role="button"][disabled]{
    pointer-events: none;
    color: var(--OnDisableColor);
    border: var(--OnDisableBorder);
    border-color: var(--OnDisableBorderColor);
    background-color: var(--OnDisableBackgroundColor);
    filter: var(--OnDisableFilter);
}

[data-role="button"]:hover{
    color: var(--OnOverColor);
    border: var(--OnOverBorder);
    border-color: var(--OnOverBorderColor);
    background-color: var(--OnOverBackgroundColor);
    filter: var(--OnOverFilter);
}