[data-component="PaginatorRange"]{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 32px;
    width: max-content;
    background-color: #EEF;
    border-radius: 2px;
    text-align: center;
    user-select: none;
    transition: var(--control-transition);
    cursor: pointer;
    font-size: 12px;

}

[data-component="PaginatorRangeGroup"]{
    display: none;
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 8px 0;
    text-align: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: #568;
    overflow: hidden;

}

[data-component="PaginatorRange"]:hover{
    background-color: #DEF;
}

[data-component="PaginatorRange"][aria-expanded="true"]{
    background-color: #DEF;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

[data-component="PaginatorRange"][aria-expanded="true"] [data-component="PaginatorRangeGroup"]{
    display: block;
}

[data-component="PaginatorRangeState"]{
    display: flex;
    height: 32px;
    padding: 0 4px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    stroke: #012;
}

[data-component="PaginatorRangeState"] output,
[data-component="PaginatorRangeState"] [role="presentation"]{
    margin: 0 4px;
}
[data-component="PaginatorRangeState"] [role="presentation"]{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--control-transition);
}

[data-component="PaginatorRange"][aria-expanded="true"] [role="presentation"]{
    transform: rotate(180deg);
    stroke: #04F;
}


