[data-component="Paginator"]{
    display: flex;
    /*
    grid-template-columns: repeat(auto-fill,minmax(24px, auto));
    gap: 4px;

     */
    align-items: center;
    user-select: none;


}

[data-component="Paginator"] [role="img"]{
    display: block;
    width: 24px;
    height: 24px;
}

[data-component="PageButton"]{
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    height: 32px;
    min-width: 24px;
    padding: 2px;
    margin:0 2px;
    cursor: pointer;
    color: #08F;
    background-color: #F5F5F5;
    border-radius: 2px;
    transition: var(--control-transition);
    font-family: 'Roboto',sans-serif;
    font-size: 14.4px;
    line-height: 24px;
}

[data-component="PageButton"]:hover{
    color: #04F;
    background-color: #DEF;
}

[data-component="PageButton"][aria-current="page"]{
    background-color: #CDE;
    font-weight: 500;
    color: #124;
}